@model IAAI.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        body {
            color: #f4f4f4;
        }
    </style>
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="form-control-static">******</span>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div class="treeView">
                </div>
                @Html.HiddenFor(model => model.Permissions)     @*不顯示的欄位 用來儲存權限*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor-news'))
            .then(editor => {
                editor.setData(document.querySelector('#Content').value);
                editor.model.document.on('change', () => {
                    document.querySelector('#Content').value = editor.getData();
                });
            })
            .catch(error => {
                console.error(error);
            });
    </script>

    <script src="~/Scripts/dist/tree.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
    // prettier-ignore
    let data = @Html.Raw(ViewBag.treeView)
    let tree = new Tree('.treeView', {
        data: [{ id: '-1', text: '所有權限', children: data }],
        closeDepth: 3,
        loaded: function () {
            this.values = [@Html.Raw(ViewBag.permissionData)];
            console.log(this.selectedNodes);
            console.log(this.values);
            //this.disables = ['0-0-0', '0-0-1', '0-0-2']
        },
        onChange: function () {
            $("#Permissions").val(this.values);
            console.log(this.values);
        }
    })
    </script>
}