@model IAAI.Models.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#f4f4f4">刪除訊息</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.PubDate)
        </dd>

        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="mdl-button mdl-js-button mdl-js-ripple-effect color-text--red" onclick="return confirm('確定要刪除嗎？');" /> |
            @Html.ActionLink("返回列表", "Index", null, new { @class = "mdl-button mdl-js-button mdl-js-ripple-effect color-text--teal" })
        </div>
    }
</div>