@model IAAI.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#f4f4f4">詳細資訊</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.PubDate)
        </dd>

        <dt style="color:#f4f4f4">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd style="color:#f4f4f4">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }, new { @class = "mdl-button mdl-js-button mdl-js-ripple-effect color-text--teal" }) |
    @Html.ActionLink("返回列表", "Index", null, new { @class = "mdl-button mdl-js-button mdl-js-ripple-effect color-text--teal" })
</p>