<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - IAAI後台管理</title>*@
    <title>IAAI後台管理</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Areas/Backend/css/lib/getmdl-select.min.css">
    <link rel="stylesheet" href="~/Areas/Backend/css/lib/nv.d3.min.css">
    <link rel="stylesheet" href="~/Areas/Backend/css/application.min.css">
    <link rel="stylesheet" href="~/Areas/Backend/ckeditor/skins/moono-lisa/editor.css">
    <!-- endinject -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:0;height:100%">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header is-small-screen">
        <header class="mdl-layout__header">
            <div class="avatar-dropdown" style="text-align:right; margin-top:21px; margin-right:34px">
                @if (User.Identity.IsAuthenticated)
                {
                    <span style="padding-right:20px">歡迎回來，@ViewBag.UserName</span>
                }
                else
                {
                    <span style="padding-right:20px">未驗證使用者</span>
                }
                @*<img src="~/Areas/Backend/images/portrait.png" style="width:28px; height:28px">*@
                <a href="login.html" id="logoutLink">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
                        Log out
                    </span>
                </a>
            </div>
            <!-- Account dropdawn-->
            <ul class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
                for="icon">
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"></span>
                        <span>Luke</span>
                        <span class="mdl-list__item-sub-title">Luke@skywalker.com</span>
                    </span>
                </li>
                <li class="list__item--border-top"></li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_circle</i>
                        My account
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">check_box</i>
                        My tasks
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span class="label background-color--primary">3 new</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">perm_contact_calendar</i>
                        My events
                    </span>
                </li>
                <li class="list__item--border-top"></li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">settings</i>
                        Settings
                    </span>
                </li>
                <a href="login.html">
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
                        Log out
                    </span>
                </li>
                </a>
            </ul>
        </header>

        <div class="mdl-layout__drawer">
            <header>darkboard</header>
            <div class="scroll__wrapper" id="scroll__wrapper">
                <div class="scroller" id="scroller">
                    <div class="scroll__container" id="scroll__container">
                        <nav class="mdl-navigation">
                            <a class="mdl-navigation__link mdl-navigation__link--current" href="index.html">
                                <i class="material-icons" role="presentation">dashboard</i>
                                Dashboard
                            </a>
                            <div class="sub-navigation">
                                <a class="mdl-navigation__link">
                                    <i class="material-icons">view_comfy</i>
                                    關於
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="~/Backend/Abouts/index">
                                        關於我們
                                    </a>
                                    <a class="mdl-navigation__link" href="ui-cards.html">
                                        組織架構
                                    </a>
                                    <a class="mdl-navigation__link" href="ui-colors.html">
                                        沿革
                                    </a>
                                    <a class="mdl-navigation__link" href="ui-form-components.html">
                                        Forms
                                    </a>
                                    <a class="mdl-navigation__link" href="ui-icons.html">
                                        Icons
                                    </a>
                                    <a class="mdl-navigation__link" href="ui-typography.html">
                                        Typography
                                    </a>
                                    <a class="mdl-navigation__link" href="ui-tables.html">
                                        Tables
                                    </a>
                                </div>
                            </div>
                            <a class="mdl-navigation__link" href="ui-components.html">
                                <i class="material-icons">developer_board</i>
                                Components
                            </a>
                            <a class="mdl-navigation__link" href="forms.html">
                                <i class="material-icons" role="presentation">person</i>
                                Account
                            </a>
                            <a class="mdl-navigation__link" href="maps.html">
                                <i class="material-icons" role="presentation">map</i>
                                Maps
                            </a>
                            <a class="mdl-navigation__link" href="charts.html">
                                <i class="material-icons">multiline_chart</i>
                                Charts
                            </a>
                            <div class="sub-navigation">
                                <a class="mdl-navigation__link">
                                    <i class="material-icons">pages</i>
                                    Pages
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="login.html">
                                        Sign in
                                    </a>
                                    <a class="mdl-navigation__link" href="sign-up.html">
                                        Sign up
                                    </a>
                                    <a class="mdl-navigation__link" href="forgot-password.html">
                                        Forgot password
                                    </a>
                                    <a class="mdl-navigation__link" href="404.html">
                                        404
                                    </a>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <hr>
                            <a class="mdl-navigation__link" href="https://github.com/CreativeIT/getmdl-dashboard">
                                <i class="material-icons" role="presentation">link</i>
                                GitHub
                            </a>
                        </nav>
                    </div>
                </div>
                <div class='scroller__bar' id="scroller__bar"></div>
            </div>
        </div>

        <main class="mdl-layout__content">

            <div class="mdl-grid mdl-grid--no-spacing dashboard">

                <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">

                    <!-- Table-->
                    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Areas/Backend/js/d3.min.js"></script>
    <script src="~/Areas/Backend/js/getmdl-select.min.js"></script>
    <script src="~/Areas/Backend/js/material.min.js"></script>
    <script src="~/Areas/Backend/js/nv.d3.min.js"></script>
    <script src="~/Areas/Backend/js/layout/layout.min.js"></script>
    <script src="~/Areas/Backend/js/scroll/scroll.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/charts/discreteBarChart.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/charts/linePlusBarChart.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/charts/stackedBarChart.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/employer-form/employer-form.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/line-chart/line-charts-nvd3.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/map/maps.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/pie-chart/pie-charts-nvd3.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/table/table.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/todo/todo.min.js"></script>

    <script>
        $(document).ready(function () {
            // 監聽點擊事件
            $("#logoutLink").click(function (e) {
                e.preventDefault(); // 防止點擊連結時跳轉到 login.html

                // 在這裡執行登出相關的操作
                // 例如，呼叫登出函數、發送登出請求等
                logout();
            });

            // 登出函數的範例
            function logout() {
                $.ajax({
                    url: '/Backend/Login/Logout',   // 放 Controller 位置跟方法名稱
                    type: 'POST', // 或 'GET'
                    success: function () {
                        // 成功登出
                        //console.log("User logged out");
                        window.location.href = '/Backend/Login/Login'; // 導回登入頁面
                    }
                });
            }
        });
    </script>
</body>
</html>