<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - IAAI後台管理</title>*@
    <title>IAAI後台管理</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Areas/Backend/css/lib/getmdl-select.min.css">
    <link rel="stylesheet" href="~/Areas/Backend/css/lib/nv.d3.min.css">
    <link rel="stylesheet" href="~/Areas/Backend/css/application.min.css">
    <link rel="stylesheet" href="~/Areas/Backend/ckeditor/skins/moono-lisa/editor.css">
    <!-- endinject -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body style="padding:0;height:100%">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header is-small-screen">
        <header class="mdl-layout__header">
            <div class="avatar-dropdown" style="text-align:right; margin-top:21px; margin-right:34px">
                @if (User.Identity.IsAuthenticated)
                {
                    <span style="padding-right:20px">歡迎回來，@ViewBag.UserName</span>
                }
                else
                {
                    <span style="padding-right:20px">未驗證使用者</span>
                }
                @*<img src="~/Areas/Backend/images/portrait.png" style="width:28px; height:28px">*@
                <a href="login.html" id="logoutLink">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
                        Log out
                    </span>
                </a>
            </div>
        </header>

        <div class="mdl-layout__drawer">
            <header>darkboard</header>
            <div class="scroll__wrapper" id="scroll__wrapper">
                <div class="scroller" id="scroller">
                    <div class="scroll__container" id="scroll__container">
                        <nav class="mdl-navigation">
                            <a class="mdl-navigation__link mdl-navigation__link--current" href="#">
                                <i class="material-icons" role="presentation">dashboard</i>
                                Dashboard
                            </a>
                            @*TreeView*@
                            <div class="sideView">
                                @Html.Raw(ViewBag.SideBar)
                            </div>
                            @*TreeView*@
                            <div class="mdl-layout-spacer"></div>
                            <hr>
                            <a class="mdl-navigation__link" href="https://github.com/CreativeIT/getmdl-dashboard">
                                <i class="material-icons" role="presentation">link</i>
                                GitHub
                            </a>
                        </nav>
                    </div>
                </div>
                <div class='scroller__bar' id="scroller__bar"></div>
            </div>
        </div>

        <main class="mdl-layout__content">

            <div class="mdl-grid mdl-grid--no-spacing dashboard">

                <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">

                    <!-- Table-->
                    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Areas/Backend/js/d3.min.js"></script>
    <script src="~/Areas/Backend/js/getmdl-select.min.js"></script>
    <script src="~/Areas/Backend/js/material.min.js"></script>
    <script src="~/Areas/Backend/js/nv.d3.min.js"></script>
    <script src="~/Areas/Backend/js/layout/layout.min.js"></script>
    <script src="~/Areas/Backend/js/scroll/scroll.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/charts/discreteBarChart.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/charts/linePlusBarChart.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/charts/stackedBarChart.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/employer-form/employer-form.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/line-chart/line-charts-nvd3.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/map/maps.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/pie-chart/pie-charts-nvd3.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/table/table.min.js"></script>
    <script src="~/Areas/Backend/js/widgets/todo/todo.min.js"></script>
    <script src="~/Scripts/dist/tree.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        $(document).ready(function () {
            // 監聽點擊事件
            $("#logoutLink").click(function (e) {
                e.preventDefault(); // 防止點擊連結時跳轉到 login.html

                // 在這裡執行登出相關的操作
                // 例如，呼叫登出函數、發送登出請求等
                logout();
            });

            // 登出函數的範例
            function logout() {
                $.ajax({
                    url: '/Backend/Login/Logout',   // 放 Controller 位置跟方法名稱
                    type: 'POST', // 或 'GET'
                    success: function () {
                        // 成功登出
                        //console.log("User logged out");
                        window.location.href = '/Backend/Login/Login'; // 導回登入頁面
                    }
                });
            }
        });
    </script>

    <script>
    // prettier-ignore
    let data = @Html.Raw(ViewBag.SideBar)
    let tree = new Tree('.sideView', {
        data: [{ id: '-1', text: '所有權限', children: data }],
        closeDepth: 3,
        loaded: function () {
            //this.values = [@Html.Raw(ViewBag.permissionData)];
            console.log(this.selectedNodes);
            console.log(this.values);
            //this.disables = ['0-0-0', '0-0-1', '0-0-2']
        },
        onChange: function () {
            $("#Permissions").val(this.values);
            console.log(this.values);
        }
    })
    </script>
</body>
</html>